/* theme_1 */

/* General styles */
/*
QWidget {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}

QFrame {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}


QPushButton {
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
}

QLabel, QTextEdit, QLineEdit {
    color: #000000;
}
*/

/********************************* Special frames ***************************/
/*
#Background {
    background-color: #f2faff;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}

#Drawer {
    background-color: #ff0000;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}

QTabWidget#MainTabs {
    background-color: #ff0000;
    border: none;
    color: #000000;
    padding: 0;
    margin: 0;
}*/
/*****************************************************************************/

/*********************************** MainTabButton ***************************/
/*
QPushButton#MainTabButton {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 0;
}

QPushButton#MainTabButton:hover {
    background-color: #D9D9D9;
}

QPushButton#MainTabButton:pressed {
    background-color: #00bfff;

}

QPushButton#MainTabButton:checked {
    background-color: #00bfff;
}*/
/*****************************************************************************/

