*.egg-info/
**/results/**
**/build/**
!**/use_cases/**
use_cases/mzi_filter_gds/results/
**/__pycache__/**
node_modules/
**/node_modules/
**/node_modules/**
.claude/
.vscode/
**/.claude/
**/.vscode/
**/nul
